<section>
    <footer class="p-4 bg-white dark:bg-gray-800">
        <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
            © 2026
            <a href="/about" class="hover:underline">
                TaskManager
            </a>
            . All Rights Reserved.
        </span>
        <span class="block gap-3 text-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <a href="/about" class="hover:underline">
                About
            </a>
            -
            <a href="/about/privacy" class="hover:underline">
                Privacy Policy
            </a>
            -
            <a href="/about/terms" class="hover:underline">
                Terms & Conditions
            </a>           
        </span>
    </footer>
</section>