<section>
  <footer class="p-4 bg-gray-800">
    <span class="block text-sm text-gray-400 text-center">
      © 2026
      <a routerLink="/about" class="hover:underline">
        TaskManager
      </a>
      . Todos los derechos reservados.
    </span>
    <span class="block gap-3 text-center mt-3 text-sm text-gray-400 sm:mt-0">
      <a routerLink="/about" class="hover:underline">
        Acerca de
      </a>
      -
      <a routerLink="/about/privacy" class="hover:underline">
        Politica de privacidad
      </a>
      -
      <a routerLink="/about/terms" class="hover:underline">
        Terminos y condiciones
      </a>
    </span>
  </footer>
</section>