@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@import "flowbite/src/themes/enterprise";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .5s;
}

.my-button { 
  @apply 
    bg-primary-500 
    text-white 
    font-semibold 
    rounded-xl 
    cursor-pointer 
    hover:bg-primary-600 
    focus:ring-4 
    focus:outline-2 
    focus:outline-offset-2 
    focus:outline-primary-400 
    active:bg-primary-800
}

.my-button-cancel {
  @apply
    bg-white 
    border 
    border-slate-600
    text-slate-700
    rounded-xl 
    cursor-pointer 
    hover:bg-slate-300 
    hover:text-slate-900
    focus:ring-4 
    focus:outline-2 
    focus:outline-offset-2 
    focus:outline-slate-300 
    active:bg-slate-300
}

.my-button-danger { 
  @apply 
    bg-red-500 
    text-white 
    font-semibold 
    rounded-xl 
    cursor-pointer 
    hover:bg-red-600 
    focus:ring-4 
    focus:outline-2 
    focus:outline-offset-2 
    focus:outline-primary-400 
    active:bg-red-800
}

.my-button:disabled {
  @apply
    bg-gray-500 
    cursor-not-allowed 
    opacity-50 
    hover:bg-gray-500 
    focus:ring-0 
    focus:outline-none 
    active:bg-gray-500
} 

.my-input {
  @apply
    border 
    rounded-xl 
    block 
    w-full 
    p-2.5 
    bg-gray-700 
    border-gray-600 
    placeholder-gray-400 
    text-white 
    focus:ring-blue-500 
    focus:border-blue-500
}

.my-input-checkbox {
  @apply
    border  
    rounded 
    bg-gray-700 
    border-gray-600 
    focus:ring-primary-600 
    focus:ring-offset-gray-800
}

.my-input:disabled {
  @apply 
    cursor-not-allowed  
    hover:bg-gray-600 
    focus:ring-0 
    focus:outline-none 
}